################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zmk-config
/.vs
/config/.vs/config/v17
/config/.vs

.build
.direnv
.venv
.west
modules
firmware
zmk
# Ignore keymap-drawer output for now
draw/base.svg
draw/base.yaml
