################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/zmk-config
/.vs
/config/.vs/config/v17
/config/.vs
