// ZMK includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Custom includes
#include "../zmk-nodefree-config/helper.h"

// LAYERS
#define BASE 0
#define NUMS 1
#define BLTH 2



ZMK_LAYER("Base",
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp Q          &kp W         &kp E         &kp R         &kp T            &kp Y          &kp U        &kp I          &kp O        &kp SEMI
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp A          &kp S         &kp D         &kp F         &kp G            &kp H          &kp J        &kp K          &kp L        &kp P
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp Z          &kp X         &kp C         &kp V         &kp B            &kp N          &kp M        &kp COMMA      &kp DOT      &kp SLASH
//  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                   &mo BLTH      &kp TAB       &kp SPACE        &kp RET        &kp BSPC      &kp RCTL
//                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER("Numbers",
//  ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &none         &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS          &none         &none         &none         &none         &none
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp NUMBER_0  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS         &none         &bt BT_PRV    &bt BT_CLR    &bt BT_NXT    &none
//  ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &none         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp UNDER         &none         &none         &none         &none         &none
//  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                  &none         &none         &none             &none         &none         &none
//                              ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
 
)
